form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 50vw;
    border: 3px solid #9b1b86;
    border-radius: 20px;
    box-shadow: #9b1b86 2px 2px 8px;
}

.productoCheckout{
    margin-top: 15px;
}

.datosCheckout {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

label {
    margin-top: 20px;
    font-weight: bold;
}

.datosCheckout{
    margin-top: 0.5rem;
}

input {
    height: 1rem;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btnFinalizarCompraCheckout{
    margin: 25px 0 15px;
}

