
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    text-decoration: none;
    color: white;
    background-color: #9b1b86;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    color: #9b1b86;
    background-color:#9b1b8642;
}

.btnContador{
    padding: 7px 12px;
}

p{
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}
